* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #39739d;
    margin: 2px;
}

html{
    margin:0;
    height:100%
}

.page-container{
    margin: 0 2rem;
}

.btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 4px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

body {
    font: 14px sans-serif;
    background-image: url('../../images/background.jpg');
    min-height: 100%;
    min-width: 100%; 
    padding: 0;
    margin: 0;
}


a:link {
    text-decoration: none;
    color: #3f9072;
}

a:visited {
    text-decoration: none;
    color: #3f9072;

}

a:hover {
    text-decoration: none;
    color: #ccd2ff;

}

a:active {
    text-decoration: none;
}
div.page-title>a{
    color: #39739d;

}
div.page-title>a:hover {
    color: #ccd2ff;
}



.header {
    border: 2px solid #ccc;
    margin-top: 0;
    background-color: #1e1d1d;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search{
    margin-left:5%;
    margin-right: 5%;
    align-self: center;
}

.logo {
    height: 2rem;
    margin-left: 1rem;
    align-self: flex-start;
}

.page-title { 
    font-weight: 600;
    font-size: 40px; 
 
}

.site-heading {
    padding: 4px;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.recipe-title {
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    visibility: visible;
}

.card-list {
    display: grid; 
    grid-template-columns: repeat(auto-fill ,minmax(25rem, 1fr));
    gap: 1rem;
}

.card-list>.module-container {
    margin: 0;
    display:flex;
    flex-direction: column;
}


.recipe-picture-card-container{
    height:25rem;
    width: 100%;
}
.recipe-picture-card {
    object-fit:contain;
    width: 100%; 
    height: 100%;
    object-position: center center;
    margin: 0;
}

.recipe-picture-container{
    height:30rem;
    width: 100%;
}
.recipe-picture {
    display:inline-block;
    object-fit:contain;
    width: 100%; 
    height: 100%;
    object-position: center center;
    margin: 0;
}

.recipe-description {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18px;
    text-align: left;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    visibility: visible;
}

.pagination {
    display: flex;
}

.module-container {
    margin-top:1rem;
    display:flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #1e1d1d;
}

ul.tags {
    margin-top:auto;
    list-style-type: none;
    padding: 0;
    display: flex;
}

ul.tags>li {
    background-color: #2a2e31;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 0px 6px 6px 0;
    font-size: 14px;
    display: inline-block;
}